.cover__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px 0;
  width: 100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.cover__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: .3;
  z-index: -1;
  transition: opacity .3s ease;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }  
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }  
}