.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }  
}