.cover__subtitle {
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .cover__subtitle {
    font-size: 2.432vmin;
    line-height: 2.973vmin;
    max-width: 70%;
  }
}