.lead__subtitle {
  margin: 0 auto 56px;
  max-width: 640px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 4vmin;
    line-height: 4.5vmin;
    max-width: 70%;
    margin: 0 auto 40px;
  }
}