.places__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 456px;
  min-height: 46px;
}

@media screen and (max-width: 424px) {
  .places__website {
    margin-left: 16px;
  }
}